body{
  color: white ;
  text-align: center;
  font-family: Helvetica, Arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 1em;
  margin:1;
  overflow-x: hidden;
}
img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 50%;
    max-width: 50%;
}
